{% extends 'base.html' %}

<!-- Title -->
{% block title %} L1000 Notebook Generator {% endblock %}

<!-- Head -->
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slick.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/slick-theme.css') }}">
	<style>
	#carousel .slick-arrow::before {
		color: rgba(0,0,0,0.33);
	}
</style>
{% endblock %}

<!-- Content -->
{% block content %}
<div class="medium light">

	<!-- Intro -->
	<div class="h1 text-center light mb-3">Generate Interactive Notebooks from L1000 Data</div>
	<hr width="100%">
	<div class="intro row mt-5">
		<div class="col-5">
			<div id="carousel" class="my-auto">
				{% for img in ['cluster', 'heatmap', 'pca'] %}
					<img src="{{ url_for('static', filename='img/{}.png'.format(img)) }}">
				{% endfor %}
			</div>
		</div>
		<div class="col-7 text-center large px-5 mt-5">
			<div>The <b>L1000 Notebook Generator</b> is web application that enables you to <b>generate customized, interactive notebooks</b> containing analyses of L1000 data.</div>
			<div class="mt-4">Through an intuitive interface, you can select the signatures that you wish to analyze, and then receive a complete, reusable notebook containing the analysis and visualization of the selected data.</div>
			<div class="text-center mt-4"><a class="btn btn-primary px-3 py-2 large light" href="{{ url_for('analyze') }}">Get Started</a></div>
		</div>
	</div>


</div>


{% endblock %}

<!-- Footer -->
{% block footer %}
<script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
<script>
	$('#carousel').slick({
		infinite: true,
		dots: true,
		autoplay: true,
		autoplaySpeed: 10000
	});
</script>
{% endblock %}