{% extends 'base.html' %}

<!-- Title -->
{% block title %} L1000 Notebook Generator {% endblock %}

<!-- Head -->
{% block head %}
{% endblock %}

<!-- Content -->
{% block content %}
<div>

	<!-- Step 2 -->
	<div class="intro">
		<div class="h2 light mb-3">Generate Interactive Notebooks from L1000 Data</div>
		<div class="h5 light pr-5">The L1000 Notebook Generator is an interactive web application that allows users to produce customized, reusable interactive analysis notebook of L1000 signatures through a simple user interface.</div>
		<div class="h5 light pr-5"></div>
		<a class="btn btn-primary" href="{{ url_for('analyze') }}">Get Started</a>
	</div>

</div>


{% endblock %}

<!-- Footer -->
{% block footer %}
<script>
	// $(function(){

		// Datatable
		var SampleTable = $('#sample-table').DataTable({
			"ajax": "{{ url_for('metadata_api') }}",
			"columns": [
				{"data": "checkbox", "orderable": false, "className": "select-checkbox"},
				{"data": "pert_desc"},
				{"data": "pert_id"},
				{"data": "batch"},
				{"data": "cell_id"},
				{"data": "pert_dose"},
				{"data": "pert_time"}
			],
			"select": {
				"style": 'multi'
			},
			fnCreatedRow: function (nRow, aData, iDataIndex) {
				$(nRow).attr('data-rid', aData['rid']); // or whatever you choose to set as the id
			},
			initComplete: function () {
				this.api().columns().every(function () {
					var column = this;
					if (column.index() > 0) {
						var select = $('<select style="max-width: 300px;"><option value=""></option></select>')
							.appendTo($(column.footer()).empty())
							.on('change', function () {
								var val = $.fn.dataTable.util.escapeRegex(
									$(this).val()
								);

								column
									.search(val ? '^' + val + '$' : '', true, false)
									.draw();
							});

						column.data().unique().sort().each(function (d, j) {
							select.append('<option value="' + d + '">' + d + '</option>')
						});
					}
				});
			}
		});

		console.log(SampleTable.rows());
		// Submit
		analyze = function() {

			// Get IDs
			var ids = Array.from(SampleTable.rows({ selected: true }).data().map(function (data) { return data['rid'] }));

			// Check length
			if (ids.length < 3) {
				alert('Please select at least three signatures using the checkboxes provided in the table.');
			} else {
				var $form = $('<form>', {'method': 'post', 'action': '{{ url_for("analyze") }}', 'class': 'd-none'}).html($('<input>', {'name': 'rid_list', 'type': 'hidden', 'value': ids.join(',')}));
				$('body').append($form);
				$form.submit();
			}
		}
	// })
</script>
{% endblock %}